<!-- <div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
		<h1>Checkout</h1>
		<h4>Your Total</h4>
		<form action="" method="post" id="checkout-form">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" id="name"class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="Compartment">Compartment</label>
						<input type="text" id="Compartment"class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="form-group">
						<label for="Compartment">Compartment</label>
						<input type="text" id="Compartment"class="form-control" required>
					</div>
				</div>
			</div>
		</form>
	</div>
</div> -->
<p>checkout {{msg}} </p>
<!-- <a href="{{url}}" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo">pay</a> -->
<button ng-click="pay()"><a href="{{url}}" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo">pay</a></button>
<button ng-click="list()">list</button>
<button ng-click="status()">status</button>
<!-- <button ng-click="status()">list</button> -->
<script src="https://js.instamojo.com/v1/button.js"></script>